aiohttp
azure-common
azure-core
azure-identity # To use the credentials with Azure SDK.
azure-mgmt-cognitiveservices # To interact with the Cognitive Services Management API.
#azure-search-documents
azure-search-documents
azure-storage-blob
fastapi
fastapi-cli
httpx
ipykernel
motor # Motor, an asynchronous MongoDB driver, is the recommended library for handling MongoDB connections in FastAPI.
msal # Microsoft Authentication Library for Python.
msal-extensions
openai
passlib
pipreqs
pydantic
pydantic_core
python-multipart
pymongo
python-dotenv
python-jose[cryptography]
requests
starlette
starlette[sessions]
starlette[full]
tiktoken
uvicorn