<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft Identity Python Web App: Error</title>
</head>
<body>
    <h2>Config Missing</h2>
    <p>
        <a href="https://learn.microsoft.com/azure/active-directory/develop/web-app-quickstart?pivots=devlang-python#step-5-configure-the-sample-app">
            Almost there. Did you forget to set up necessary environment variables for your deployment?
        </a>
    </p>
    <hr>
    <a href="{{ url_for('index') }}">Homepage</a>
</body>
</html>